data/
artifacts/
__pycache__/
*.pyc
.pytest_cache/
*.engine
*.onnx
kaggle.json
cdse.json
*cdse*.json
/etc/sih/cdse.json
credentials.json
*.secret
.env
*.pt
.venv/
logs/
*.zip
*.rar
*.tar.gz
*.parquet
*.pack
kaggle/output/
kaggle/model_b_package/
.DS_Store
**/.DS_Store
